.social-media-iframe-wrapper {
  display: flex;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 0;

  iframe {
     position: static;
     visibility: visible;
     width: 600px;
     height: 500px;
     display: block;
     flex-grow: 1;
     border: none;
  }

}
